<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
        <div class="col-xs-3">
          <%= link_to root_path do %>
            <div class="circle">
                <br />
                    They
                <br />
                    Win
                <br />
                    InterWebz
          </div>
          <% end %>
        </div>
        <div class="col-xs-4 slogan">
            Splurting out the unsolicited advice you never knew you wanted, since 2016.
        </div>
        <div class="col-xs-5 links">
            <%= link_to 'Contribute', new_quote_path %>
            <%= link_to 'About', '#' %>
        </div>
    </header>
    <hr />

    <br class="clear" />

    <div class="container">
        <%= yield %>
    </div>

    <div class="footer">
        <div class="container">
            <div class="col-xs-6">
              <%= link_to "More??!?!", root_path, class: 'next-quote' %>
            </div>
            <div class="col-xs-6 footer-blurb">
              Proudly made in Brooklyn by ....
              Want to build your own app? Try <a href="http://thefirehoseproject.com">this</a>.
            </div>
        </div>
    </div>
</body>
</html>
